@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&family=Baloo+2:wght@500;600;700&family=Climate+Crisis&display=swap');
@import url('https://fonts.cdnfonts.com/css/kg-red-hands');
@import url("https://use.typekit.net/ojd6mpx.css");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-down-o.css');

.container {
    padding: 60px;
    background-color: #5C89CC;

}

.container .salute {
    max-width: 1200px;
    color: #FFEFD3;
}

.salute .greeting {
    font-family: 'Climate Crisis', cursive;
    font-size: 100px;
    padding-bottom: 20px;
}

.salute p {
    font-size: 40px;
    word-spacing: 6px;
    line-height: 60px;
}

.salute a {
    background-color: #FFEFD3;
    color: #5C89CC;
}