.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEFD3;
    padding: 10px 20px;

}

.navbar-logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;

}